<div class="container" style="margin-top: 10%;margin-left: 28%">
    <div>
        <input class="form-control" type="number" [(ngModel)]="inputNum" style="width:30%" placeholder="Please Enter Number Here">
        <button class="btn btn-primary" (click)="onClick()" style="margin-top: -6%;margin-left: 32%;width:10%">ADD</button>
    </div>
    
    <div>
      <div *ngFor="let array of arr; let i = index">
        <input class="form-control" type="string" [(ngModel)]="array.text" style="width:30%">
        <button class="btn btn-danger" (click)="cancel(i)" style="margin-top: -6%;margin-left: 32%;width:10%">Close</button>
      </div>
    
      <div>
        <button class="btn btn-success" (click)="inputclick()" style="margin-left: 12%;width:10%">OK</button>
        <div style="border: 2px solid;
        padding: 20px; 
        width: 400px;
        resize: both;
        overflow: auto;
        margin-top: 3%">{{enteredValues}}
        </div>
      </div>
    </div>  
</div>